<div class="col-10 offset-1">
  <h1>trains in the uk</h1>
  <br />
  for those unfamiliar with the glorious machinations of the uk's train 'services' a brief introduction...
  <br /> 
  thanks to a thoroughly british combination of greed and cronyism uk trains and tracks are operated by a bewildering legion of commercial entities united by two common features; total ineptitude and a pathological lack of 'giving a f**k' about it.
  <br /><br />
  the upshot? chaos and profiteering reign supreme. the uk boasts some of the most expensive and yet unreliable passenger train services on the planet, ife for any uk rail commuter is a constant cycle of arriving late to work and standing on overcrowded platforms waiting for cancelled trains.
  <br />
  combine this with appalling customer service, breathtaking incompetance (from the bottom level to the boardroom) and a complete lack of empathy from staff and it's a wonder more passengers don't escape their captive misery by thowing themselves on the tracks (probably because the trains would not arrive.)
  <br /><br />
  one of the regular features of paying through the teeth for such a shit service is the near infinite number of excuses gleefully trotted out by monotone rail 'workers' on a daily basis to explain the cancellation, delay or (if you are lucky) mere lateness of pretty much every train on the miserable sodden island. 
  <br /><br />
  <div class="newexcusebackground"></div>
  <br /><br />
  this website is dedicated to the poor overworked wheezing imbeciles across the uk that have to come up with new excuses for the ineptitude of the rail companies they work for on a daily basis, presumably to keep themselves amused whilst they watch passengers' misery unfold on cctv.
</div>
